In [1]:
print("Hello")

Hello

In [4]:
print("Hello \
    python")

Hello     python

In [6]:
"""   (”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’)"""

'   (”)….(”)\n( ‘ o ‘ )\n(”)–(”)\n(””’)-(””’)'

In [7]:
print('Hello World')

Hello World

In [8]:
print('Python's world')

SyntaxError: invalid syntax (<ipython-input-8-98b624cce3c5>, line 1)

In [9]:
print("Python's world")

Python's world

In [10]:
print("Hello\tWorld")

Hello	World

In [11]:
print("Hello\nWorld")

Hello
World

In [12]:
print('Python\'s world')

Python's world

In [14]:
name = "XYZ"
marks = 90.867
age = 20
print("The name of person is ", name, "marks is ", marks, "age is ", age)

The name of person is  XYZ marks is  90.867 age is  20

In [15]:
print("The name of person is %s marks is %f age is %d"%(name, marks, age))

The name of person is XYZ marks is 90.867000 age is 20

In [16]:
print("The name of person is %10s marks is %10f age is %10d"%(name, marks, age))

The name of person is        XYZ marks is  90.867000 age is         20

In [17]:
print("The name of person is %10s marks is %10.2f age is %10d"%(name, marks, age))

The name of person is        XYZ marks is      90.87 age is         20

In [20]:
print(f"The name of person is {name} the marks is {marks} age is {age}")

The name of person is XYZ the marks is 90.867 age is 20

In [21]:
# invalid variable name
if = 10

SyntaxError: invalid syntax (<ipython-input-21-563084b3e606>, line 1)

In [22]:
# valid variable name
if1 = 10

In [23]:
# valid variable name
_10 = 6

In [24]:
x = 20

# RAM address of x
id(x)

140704982213616

In [25]:
y = 20         # id(x) = id(y) are equal because both refer same value
id(y)

140704982213616

In [26]:
# deleting x
del x
x

NameError: name 'x' is not defined

In [27]:
5 ** 5

3125

In [28]:
10 + 20

30

In [29]:
10 - 20

-10

In [30]:
10 / 2

5.0

In [31]:
10 / 3

3.3333333333333335

In [32]:
10 % 3

1

In [33]:
10 // 3

3

In [34]:
a = 10
b = 20
a == b

False

In [35]:
c = 10
a == c

True

In [36]:
c < a

False

In [37]:
c <= a

True

In [38]:
a >= b

False

In [39]:
a != b

True

In [40]:
a = 240
b = 1
a | b

241

In [41]:
# binary representation
bin(a)

'0b11110000'

In [42]:
bin(b)

'0b1'

In [43]:
a & b

0

In [46]:
a = 1
b = 20
a > 20

False

In [47]:
a > 20 or 10 > 9

True

In [48]:
a > 20 and 10 > 9

False

In [49]:
10 > 9 and 20 > M

NameError: name 'M' is not defined

In [50]:
10 < 9 and 20 > M

False

In [51]:
10 < 9

False

In [52]:
not 10 < 9

True

In [53]:
not True

False

In [54]:
str1 = "pythonprogramming"
"a" in str1

True

In [55]:
"x" in str1

False

In [56]:
"x" not in str1

True

In [57]:
a = 10
b = 10
a == b

True

In [58]:
a is b

True

In [59]:
x = 1.5
y = 1.5
x == y

True

In [60]:
x is y     # since both are using different memory

False

In [61]:
id(x)

1693787828304

In [62]:
id(y)

1693787831088

In [63]:
a = -4
b = -4
a is b

True

In [64]:
# outside the range -5 to 256, integers have different memory location
a = 257
b = 257
a is b

False

In [65]:
10 / 20 * 4

2.0

In [66]:
10 + 10 / 20 * 4

12.0

In [67]:
2 ** -1

0.5

In [68]:
a = -6
b = -6
a is b

False

In [69]:
10 > 8 > 9
# equivalent to 10 > 8 and 8 > 9

False